@import "flowbite";
@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

@utility container {
  margin: auto;
  padding: 0px 10px 0px 10px;
}
